<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
  <display-name>Naughty Jsp Test</display-name>
  
  <servlet>
    <servlet-name>naughty</servlet-name>
    <servlet-class>org.eclipse.jetty.example.NaughtyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>naughty</servlet-name>
    <url-pattern>/naughty</url-pattern>
  </servlet-mapping>
</web-app>
